/* Start Main Rules */

body{
    background-color: #f4f4f4;
}

/* End Main Rules */

/* Start Login Form */

.login{
    width: 300px;
    margin: 100px auto;
}

.login h4{
    color: #888;
    margin-bottom: 20px;
}

.login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color: #EAEAEA;
}

.login .btn{
    background-color: #008dde;
}

/* End Login Form */

/* Start Dashboard Page */

.home-stats .stat{
    padding: 20px;
    font-size: 15px;
    color: #FFF;
    border-radius: 10px;
}

.home-stats .stat span{
    display: block;
    font-size: 50px;
}

.home-stats .stat a{
    color: white;
}

.home-stats .st-members{
    background-color: #293462;
}
.home-stats .st-pending{
    background-color: #F24C4C;
}
.home-stats .st-items{
    background-color: #EC9B3B;
}
.home-stats .st-comments{
    background-color: #FFD24C;
}

.latest {
    margin-top: 30px;
}

.panel-heading{
    background-color: #413F42;
    padding: 5px;
    color: white;
}

.panel-body{
    background-color: white;
    padding: 5px;
}

.latest-users{
    margin-bottom: 0;
}

/* ul.list-unstyled.latest-users {
    color: green;
} */

.latest-users li{
    padding: 1px 0;
    overflow: hidden;
}

.latest-users li:nth-child(even){
    background-color: #EEE;
}

.latest-users .btn-success{
    padding: 2px 6px;
}

.latest-users .btn-info{
    padding: 2px 6px;
    margin-right: 5px;
}

/* End Dashboard Page */

/* Start Members Page */
.hello{
    color: red;
}
.show-pass{
    position: absolute;
    right: 833px;
    top: 250px;
}

.main-table{
    box-shadow : 0 3px 10px #CCC;
}

.main-table tr{
    background-color: #FFF;
    vertical-align: middle !important;
}

.main-table tr:first-child td {
    background-color: #333;
    color: #FFF;

}

.activate{
    margin-left: 5px;
}

/* End Members Page */

/* Start Category Page */

.categories .panel-body{
    padding: 0;
}

.categories hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.categories .ordering a {
    color: #888;
    text-decoration: none;
}

.categories .ordering a:hover {
    color: white;
}

.categories .ordering .active{
    color: #FFA500;
}

.viewCatOptionFull{
    cursor: pointer;
}

.viewCatOptionClassic{
    cursor: pointer;
}

.categories .cat{
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.categories .cat:hover{
    background-color: #EEE;
}

.categories .cat:hover .hidden-buttons{
    right: 10px;
}

.categories .cat .hidden-buttons {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 15px;
    right: -180px;
}
.categories .cat .hidden-buttons a {
    margin-right: 5px;
}

.categories .cat h3{
    cursor: pointer;
}

.categories .cat:last-of-type ~ hr {
    display: none;
}

.visible {
    background-color: #95CD41;
    color: white;
    padding: 2px;
    border-radius: 3px;
}
.hidden {
    background-color: #990000;
    color: white;
    padding: 2px;
    border-radius: 5px;
}

.comentingyes{
    background-color: #95CD41;
    color: white;
    padding: 2px;
    border-radius: 5px;
}
.comentingno{
    background-color: #990000;
    color: white;
    padding: 2px;
    border-radius: 5px;
}

.advertisingyes{
    background-color: #95CD41;
    color: white;
    padding: 2px;
    border-radius: 5px;
}
.advertisingno{
    background-color: #990000;
    color: white;
    padding: 2px;
    border-radius: 5px;
}

/* End Category Page */