/* Start Main Rules */

body{
    background-color: #f4f4f4;
}

/* End Main Rules */

/* Start Login Form */

.login{
    width: 300px;
    margin: 100px auto;
}

.login h4{
    color: #888;
    margin-bottom: 20px;
}

.login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color: #EAEAEA;
}

.login .btn{
    background-color: #008dde;
}

/* End Login Form */

/* Start Members Page */
.hello{
    color: red;
}
.show-pass{
    position: absolute;
    right: 833px;
    top: 265px;
}

/* End Members Page */