/* Start Main Rules */

body{
    background-color: #f4f4f4;
}

/* End Main Rules */

/* Start Login Form */

.login{
    width: 300px;
    margin: 100px auto;
}

.login h4{
    color: #888;
    margin-bottom: 20px;
}

.login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color: #EAEAEA;
}

.login .btn{
    background-color: #008dde;
}

/* End Login Form */

/* Start Dashboard Page */

.home-stats .stat{
    padding: 20px;
    font-size: 15px;
    color: #FFF;
    border-radius: 10px;
}

.home-stats .stat span{
    display: block;
    font-size: 50px;
}

.home-stats .stat a{
    color: white;
}

.home-stats .st-members{
    background-color: #293462;
}
.home-stats .st-pending{
    background-color: #F24C4C;
}
.home-stats .st-items{
    background-color: #EC9B3B;
}
.home-stats .st-comments{
    background-color: #FFD24C;
}

.latest {
    margin-top: 30px;
}

.panel-heading{
    background-color: #413F42;
    padding: 5px;
    color: white;
}

.panel-body{
    background-color: white;
    padding: 5px;
}

/* End Dashboard Page */

/* Start Members Page */
.hello{
    color: red;
}
.show-pass{
    position: absolute;
    right: 833px;
    top: 250px;
}

.main-table{
    box-shadow : 0 3px 10px #CCC;
}

.main-table tr{
    background-color: #FFF;
    vertical-align: middle !important;
}

.main-table tr:first-child td {
    background-color: #333;
    color: #FFF;

}

.activate{
    margin-left: 5px;
}

/* End Members Page */